@warn: #FF9928;
@bad: #B20015;
@good: #57a957;
@neutral: #666666;
@act: #0064cd;

.warn {
	color: @warn;
}

.bad {
	color: @bad;
}

.good {
	color: @good;
}

.neutral {
	color: @neutral;
}

.act {
	color: @act;
}

.unimportant {
	color: #AAAAAA;
}

.twitter_profile {
	width: 354px;
}

.twitter_data {
	width: 150px;
	.btn {
		line-height: 6px;
		width: 12px;
		padding-left: 3px;
		padding-right: 10px;
	}
}

.general_data {
	label {
		float: left;
		width: 50px;
		margin-right: 6px;
		text-align: left;
	}
	dl {
		margin-bottom: 2px;
	}
}

.profile_image {
	width: 48px;
	float: left;
}

.profile_texts {
	width: 300px;
	margin-left: 54px;
	padding-left: 6px;
}

.profile_stats {
	width: 330px;
}

.twitter_description {
	margin-top: 2px;
}
