@warn: #FF9928;
@bad: #B20015;
@good: #57a957;
@neutral: #666666;
@act: #0064cd;

.warn {
	color: @warn;
}

.bad {
	color: @bad;
}

.good {
	color: @good;
}

.neutral {
	color: @neutral;
}

.act {
	color: @act;
}

.label-warn {
	color: #FFFFFF;
	background-color: @warn;
}

.label-good {
	color: #FFFFFF;
	background-color: @good;
}

.label-bad {
	color: #FFFFFF;	
	background-color: @bad;
}

.unimportant {
	color: #AAAAAA;
}

[class^="social-icon-"],
[class*=" social-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-size:100%;
  background-repeat: no-repeat;
}

.social-icon-twitter {
	  background-image: url("../img/twitter.png") 	  
}

.social-icon-youtube {
	  background-image: url("../img/youtube.png") 	  
}

.social-icon-facebook {
	  background-image: url("../img/facebook.png") 	  
}

.clear-fix:after {
	display: table;
	clear: both;
}

body {
	padding-top: 64px;
}

#log-bar {
	background-color: #444444;
	color: #BBBBBB;
	height: auto;
	padding: 1px 0 2px 0;
}

.twitter-rate-limit {
	color: @bad;
	font-weight: bold;
}

header {
	h1 {
		font-size: 25px;
		line-height: 27px;
		margin: 0px;
	}
	padding: 10px 10px 0 10px;
}

h1#query {
	font-size: 16px;
	line-height: 18px;
}

#twitter-actions {
	input {
		margin-bottom: 0px;
	}
}

.twitter-profile {
	width: 354px;
}

.twitter-profile-data {
	width: 170px;
}

.help {
	margin-top: 5px;
	color: @neutral;
	font-size: 13px;
	line-height: 15px;
}

.presence-embedded-form {
	label {
		float: left;
		width: 52px;
		margin: 2px 8px 0 0;
		text-align: left;
	}
	dl {
		margin: 0;
	}
	select {
		width: 140px;
	}
	input {
		width: 126px;
	}
}

.presence-holder>div:nth-child(1) {
	float: left;
	width: 200px;
}
.presence-holder>div:nth-child(2) {
	margin-left: 206px;
}

.twitter-profile-image, .twitter-tweet-image {
	width: 48px;
	float: left;
}

.twitter-embedded-small .twitter-profile-texts{	 
	width: auto;	
}

.twitter-profile-texts, .twitter-tweet-texts {
	margin-left: 54px;
	padding-left: 6px;
}

.twitter-profile-texts {
	width: 300px;
	min-height: 50px;
}

#twitter-actions-query {
	width: 600px;
}

.twitter-profile-stats {
	width: 330px;
}

.twitter-profile-description, .twitter-tweet-text {
	margin-top: 2px;
}

.twitter-timeline {
	.twitter-tweet-data {
		.twitter-tweet-date {
			color: @neutral
		}
		.twitter-tweet-retweeted {
			color: @warn
		}
	}
	height: 400px;
	overflow: scroll;
}

.presence-modal {
	width: 900px;
	margin-left: -450px;
}

.presence-details {
	.control-group {
		margin-bottom: 5px;
	}		
	.control-label {
		text-align: left;
		width: 75px;
	}
	.controls {
		margin-left: 80px;
		input[type='text'] {
			width: 250px;
		}
		select {
			width: 264px;			
		}
	}
	.control-button {
		margin-bottom: 5px;
		padding-top: 5px;
	}
	.without-label {
		margin-left: 0;
	}
	.presence-details-column1 {
		float: left;
		width: 350px;
	}
	.presence-details-column2 {
		margin-left: 350px;
		padding-left: 10px;
		input[type='text'] {
			width: 350px;
			margin-bottom: 0px;
		}
	}
}

.action-details {	
	.control-group {
		margin-bottom: 5px;
	}		
	.control-label {
		text-align: left;
		width: 75px;
	}
	.controls {
		margin-left: 80px;
		input[type='text'] {
			width: 250px;
		}
		select {
			width: 264px;			
		}
	}
	.action-config-column {
		float: left;
		width: 350px;
	}
	.action-body-column {
		margin-left: 350px;
		padding-left: 10px;
		textarea {
			width: 480px;
			height: 90px;
		}
	}
}

.action-type {
	width: 150px;
}

.action-target {
	width: 250px;
}

.section {
	margin-top: 5px;
	margin-bottom: 3px;	
	font-weight: bold;
}
