@(action: models.Action, fixedConfiguration:Boolean)
@import models.Action
@import models.Action._
@import utils.Let._
@import play.data.Form
@import helper.{FieldConstructor, inputText, select}
@import helpers.form.checkbox
@implicitField = @{FieldConstructor(helpers.form.empty.f) }

@notLastRepeat(field: Field, value: List[_])(content: Html) = {
	@if(!(field.id.endsWith("_"+(value.size()-1)+"_") || (value.size()==0 && field.id.endsWith("_0_")))) {
		@content			    				
	}
}

<div class="action-details">	
	@if(action.target != null && action.service == Service.twitter){
		<div class="row-fluid">
		@views.html.twitter.embeddedSmall(action.target.twitterUser)
		@if(!fixedConfiguration) {
			<a class="btn btn-mini">change</a>
		}
		</div>
	}											
	<div class="row-fluid">
		@let(Form.form(classOf[Action]).fill(action)){ form =>
			<div class="form-horizontal action-config-column">
				<h5 class="section">Configuration</h5>  
				@if(fixedConfiguration){
					@helper.select(form("actionType"), options = Seq("beFriend"->"follow", "unFriend" -> "un follow", "message"->"direct message", "retween"->"share", "publicMessage" -> "public message"),'_showConstraints -> false, 'disabled -> fixedConfiguration)
					@helper.select(form("service"), options = Seq("twitter"->"Twitter", "facebook" -> "facebook", "youtube"->"YOUtube"),'_showConstraints -> false, 'disabled -> fixedConfiguration)
					@helper.select(form("direction"), options = Seq("send"->"send", "global"->"global"),'_showConstraints -> false, 'disabled -> fixedConfiguration)
				}else{
					@helper.select(form("actionType"), options = Seq("beFriend"->"follow", "unFriend" -> "un follow", "message"->"direct message", "retween"->"share", "publicMessage" -> "public message"),'_showConstraints -> false)
					@helper.select(form("service"), options = Seq("twitter"->"Twitter", "facebook" -> "facebook", "youtube"->"YOUtube"),'_showConstraints -> false)
					@helper.select(form("direction"), options = Seq("send"->"send", "global"->"global"),'_showConstraints -> false)
				}																						 
			</div>
			<div class="action-body-column">
				<h5 class="section">Body</h5>
				@if((action.actionType!=models.Action.ActionType.message && action.actionType!=models.Action.ActionType.publicMessage) || action.direction==models.Action.Direction.receive){
					@if(action.service==models.Action.Service.twitter){
						@helper.textarea(form("message"), 'emptyHelper->true, 'maxlength -> 140, 'disabled->true)
					}else{
						@helper.textarea(form("message"), 'emptyHelper->true, 'disabled->true)
					}
				}else{
					@if(action.service==models.Action.Service.twitter){
						@helper.textarea(form("message"), 'emptyHelper->true, 'maxlength -> 140)
					}else{
						@helper.textarea(form("message"), 'emptyHelper->true)
					}
				}
			</div>
		}
	</div>
</div>