@(action: models.Action, withTarget: Boolean)
<tr class="action-holder">
	<td class="action-type">
		@actionType(action)<br/>
		<span class="unimportant">[<!-- 
		@if(action.executedAt != null && action.executedAt.getTime() >= action.scheduledFor.getTime()){
			-->@action.executedAt.format("HH:mm dd/MM/yy")<!-- 
		}else{
			-->@action.scheduledFor.format("HH:mm dd/MM/yy")<!--
		}-->]</span><br>
		@if(!action.isRead) {
			<span class="label label-warn"><span class="icon-exclamation-sign"></span> unseen</span></span>		
		}												
	</td>
	@if(withTarget) {
		<td class="action-target">
			@if(action.direction==models.Action.Direction.global){
				<div class="well">
					<em>Global action not targeted at a distinct presence.</em>
				</div>
			}else{
				@views.html.presence.embeddedSmall.render(action.target)
			} 			
		</td>
	}
	<td class="action-body">
		<!-- body  --> 
		@if(action.message == null || action.message.trim().equals("")) {
			<span class="unimportant">This action has no message body.</span>	
		}else{
			<p class="linkify">@action.message</p>
		}
	</td>
	<td class="action-follow-ups">
		<!-- follow up actions -->
		<span class="unimportant">No available follow up actions.</span>
	</td>
</tr>	
