@(twitterUser: models.TwitterUser)

<div class="twitter-embedded-small twitter-profile-conent">
	<div class="twitter-profile-image">
		<img src="@twitterUser.imageURL"></img>
	</div>
	<div class="twitter-profile-texts">
		<a href="@routes.TwitterPart.list("this.screenName=='"+twitterUser.screenName+"'")" rel="tooltip" class="with-tooltip" data-toggle="tooltip" data-placement="right" title data-original-title="@twitterUser.description">@twitterUser.name</a>&nbsp;<span style="color: #AAAAAA">@@@twitterUser.screenName</span>
		<div class="twitter-profile-stats">			 						
			follows: <a href="@routes.TwitterPart.list("friends: " + twitterUser.screenName)">@twitterUser.friendsCount</a>
			<a class="simple-ajax-action" url='@routes.TwitterPart.importAll("friends: "+twitterUser.screenName)'><span class="icon-plus-sign"></span>,</a>			
			followers: <a href="@routes.TwitterPart.list("followers: " + twitterUser.screenName)">@twitterUser.followersCount</a>
			<a class="simple-ajax-action" url='@routes.TwitterPart.importAll("followers: "+twitterUser.screenName)'><span class="icon-plus-sign"></span></a><br/>												
		</div>
	</div>
</div>
@aquaintence(twitterUser)
 