@(rateLimitData: Map[String, twitter4j.RateLimitStatus])
@import utils.Let._
@let(new ArrayList[String]){keyList =>
	@{
		keyList.addAll(rateLimitData.keySet());
		"";
	}
	@let(keyList.filter((key)=>{
			val rateLimitStatus = rateLimitData.get(key); 
			val limitReached = rateLimitStatus.getLimit()!=rateLimitStatus.getRemaining() &&
				((rateLimitStatus.getRemaining()/rateLimitStatus.getLimit().toFloat<.3) ||
					(rateLimitStatus.getRemaining()<=3));
			limitReached && rateLimitStatus.getResetTimeInSeconds().toLong*1000>System.currentTimeMillis()
	}).sorted){finalList=>
		@if(!finalList.isEmpty()) {
			<div class="well">
				@for(key <- finalList) {
					@let(rateLimitData.get(key)){rateLimitStatus=>					
						<p class="text-error">@key:
							@rateLimitStatus.getRemaining()/@rateLimitStatus.getLimit() for 
							@(new Date(rateLimitStatus.getResetTimeInSeconds().toLong*1000-System.currentTimeMillis()).format("mm:ss"))
						</p>
					}
				}
			</div>
		}
	}
}