@(twitterUser: models.TwitterUser)
@import utils.Let._
@import play.data.Form
@if(twitterUser.isStarred){
	<tr id="twitter-holder-@twitterUser.id" class="twitter-id highlight" twitterId="@twitterUser.id">
}else{
	<tr id="twitter-holder-@twitterUser.id" class="twitter-id" twitterId="@twitterUser.id">
}
		<td class="twitter-profile">
			@views.html.twitter.embedded(twitterUser, true)
		</td>
		<td class="twitter-profile-data">
			<div class="snrms-row-buttons">
				<a class="btn btn-mini reload-ajax-action" holder-id="twitter-holder-@twitterUser.id" url="@routes.TwitterPart.star(twitterUser.id,!twitterUser.isStarred)">
					@if(twitterUser.isStarred){
						<span class="icon-star"></span> unstar
					}else{
						<span class="icon-star-empty"></span> star		
					}
				</a>
				@if(twitterUser.isFriend) { 
					<a class="reload-ajax-action btn btn-mini" holder-id="twitter-holder-@twitterUser.id" url="@routes.TwitterPart.unFollow(twitterUser.id)">
						<span class="icon-thumbs-down"></span> un-follow
					</a>
				}else{
					<a class="reload-ajax-action btn btn-mini" holder-id="twitter-holder-@twitterUser.id" url="@routes.TwitterPart.follow(twitterUser.id)">
						<span class="icon-thumbs-up"></span> follow
					</a>
				}
			</div>
			<div>
				@aquaintence(twitterUser)
			</div>	
			<div>
				@if(twitterUser.isFollower) { 			
					<span>follows since [@twitterUser.isFollowerSince.format("dd/MM/yy")]</span>
				} 
			</div>
			<div>
				@if(twitterUser.isFriend) { 				
					<span>friends since [@twitterUser.isFriendSince.format("dd/MM/yy")]</span> 
				}
			</div>			
		</td>
		<td class="presence-data">
			@views.html.presence.embedded.render(twitterUser.presence, routes.TwitterPart.createPresence(twitterUser.id).absoluteURL(request()))					
		</td>
	</tr>

