@(twitterUser: models.TwitterUser)
@import utils.Let._
@import play.data.Form
@if(twitterUser.isStarred){
	<tr id="twitter-holder-@twitterUser.id" class="twitter-id highlight" twitterId="@twitterUser.id">
}else{
	<tr id="twitter-holder-@twitterUser.id" class="twitter-id" twitterId="@twitterUser.id">
}
		<td class="twitter-profile">
			@views.html.twitter.embedded(twitterUser, true)
		</td>
		<td class="twitter-profile-data">
			<div>
				@if(twitterUser.isFollower) { 
					<span class="@{if (twitterUser.isFriend) "good" else "warn"}">follows</span> 
					<span>since [@twitterUser.isFollowerSince.format("dd/mm/yy")]</span>
				} else { 
					<span class="@{if (twitterUser.isFriend) "bad" else "neutral"}">NOT a follower</span>
					@if(twitterUser.timesHasBeenFollower > 0) {
						<span>but was follower for @twitterUser.timesHasBeenFollower times</span>	
					}
				}
			</div>
			<div>
				@if(twitterUser.isFriend) { 
					<span style="@{if (twitterUser.isFollower) "good" else "bad"}">friend</span>
					<span>since [@twitterUser.isFriendSince.format("dd/mm/yy")]</span> 
				} else { 
					<span style="@{if (twitterUser.isFollower) "warn" else "neutral"}">NOT a friend</span>
					@if(twitterUser.timesHasBeenFriend > 0) {
						<span>but was friend for @twitterUser.timesHasBeenFriend times</span>	
					}			
				}
			</div>
			<div>
				<a class="btn btn-mini reload-ajax-action" holder-id="twitter-holder-@twitterUser.id" url="@routes.TwitterPart.star(twitterUser.id,!twitterUser.isStarred)">
					@if(twitterUser.isStarred){
						<span class="icon-star"></span> unstar
					}else{
						<span class="icon-star-empty"></span> star		
					}
				</a>
				@if(twitterUser.isFriend) { 
					<a class="reload-ajax-action btn btn-mini" holder-id="twitter-holder-@twitterUser.id" url="@routes.TwitterPart.unFollow(twitterUser.id)">
						<span class="icon-thumbs-down"></span> un-follow
					</a>
				}else{
					<a class="reload-ajax-action btn btn-mini" holder-id="twitter-holder-@twitterUser.id" url="@routes.TwitterPart.follow(twitterUser.id)">
						<span class="icon-thumbs-up"></span> follow
					</a>
				}
			</div>
		</td>
		<td class="presence-data">
			@views.html.presence.embedded.render(twitterUser.presence, routes.TwitterPart.createPresence(twitterUser.id).absoluteURL(request()))					
		</td>
	</tr>

