@(user: models.PagedUserHolderList.UserHolder, form: Form[TwitterUser])
<tr class="twitterId" twitterId="@user.getTwitterUser().id">
	<td class="twitter_profile">
		<div class="profile_conent">
			<div class="profile_image">
				<img src="@user.getImageURL()"></img>
			</div>
			<div class="profile_texts">
				<a target="new" href="@user.getProfileURL()">@user.getName()</a>&nbsp;<span style="color: #AAAAAA">@@@user.getScreenName()</span>
				<p class="twitter_description">@user.getDescription()</p>
			</div>
		</div>
		<div class="profile_stats">
			tweets: <a href="@user.getProfileURL()">@user.getTweetCount()</a>,&nbsp;
			follows: <a href="@routes.Application.users("friends: " + user.getScreenName(), -1)">@user.getFriendsCount()</a>,&nbsp;
			followers: <a href="@routes.Application.users("followers: " + user.getScreenName(), -1)">@user.getFollowersCount()</a><br/>
			<span class="unimportant">[@user.getTwitterUser().lastUpdated.format("HH:mm dd/mm/yy")]</span>
		</div> 
	</td>
	<td class="twitter_data">
		<div>
			@if(user.getTwitterUser().isFollower) { 
				<span class="@{if (user.getTwitterUser().isFriend) "good" else "warn"}">follows</span> 
				<span>since [@user.getTwitterUser().isFollowerSince.format("dd/mm/yy")]</span>
			} else { 
				<span class="@{if (user.getTwitterUser().isFriend) "bad" else "neutral"}">NOT a follower</span>
				@if(user.getTwitterUser().timesHasBeenFollower > 0) {
					<span>but was follower for @user.getTwitterUser().timesHasBeenFollower times</span>	
				}
			}
		</div>
		<div>
			@if(user.getTwitterUser().isFriend) { 
				<span style="@{if (user.getTwitterUser().isFollower) "good" else "bad"}">friend</span>
				<span>since [@user.getTwitterUser().isFriendSince.format("dd/mm/yy")]</span> 
				<input type="button" class="twitterUnFollow btn primary" value="x">
			} else { 
				<span style="@{if (user.getTwitterUser().isFollower) "warn" else "neutral"}">NOT a friend</span>
				@if(user.getTwitterUser().timesHasBeenFriend > 0) {
					<span>but was friend for @user.getTwitterUser().timesHasBeenFriend times</span>	
				}
				<input type="button" class="twitterFollow btn primary" value="o">
			}
		</div>
	</td>
	<td class="general_data">
		<input type="hidden" name="id" value="@user.getTwitterUser().id">
		@helper.select(form("category"), options = Seq("publication"->"Publication", "developer" -> "Developer", "user"->"User", "notAssigned"->"not assigned"),'_showConstraints -> false, 'class -> "generalDataInput")
		@helper.select(form("status"), options = Seq("neutral"->"Neutral", "wishlist" -> "Wishlist", "ignored"->"Ignored", "notAssigned"->"not assigned"),'_showConstraints -> false, 'class -> "generalDataInput")
		@helper.select(form("tier"), options = Seq("tier1"->"Tier 1", "tier2" -> "Tier 2", "tier3"->"Tier 3", "notAssigned"->"not assigned"),'_showConstraints -> false, 'class -> "generalDataInput")	
	</td>
</tr>

