@(query: String, users: models.TwitterUserPage)

@main {
    
    <h1 id="homeTitle">Query: "<span style="color: #555555" id="query">@query</span>", results in @users.totalSize() twitter users</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
    
    <div id="actions">
        
        <form action="@routes.Application.users()" method="GET">
        	<input type="text" name="query" value="@query">
        	<input type="hidden" name="cursor" value="-1">
            <input type="submit" id="execute" value="Execute" class="btn primary">
        </form>
   
   		<input type="button" id="importAll" value="Import/Update all" class="btn success">
    </div>
    
    @if(users.size() == 0) {  
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    <th class="header">Twitter's data</th>
                    <th class="header">Our Twitter data</th>
                    <th class="header">global data</th>
                </tr>
            </thead>
            <tbody id="twitterUserHolders">
            	@userPage(query, users)                
            </tbody>
        </table>        
    }
        
}

            
