@(presence: models.Presence)
@import utils.Let._
@import play.data.Form
@import helper.{FieldConstructor, inputText, select}
@import helpers.form.checkbox
@implicitField = @{FieldConstructor(helpers.form.empty.f) }

@notLastRepeat(field: Field, value: List[_])(content: Html) = {
	@if(!(field.id.endsWith("_"+(value.size()-1)+"_") || (value.size()==0 && field.id.endsWith("_0_")))) {
		@content			    				
	}
}

<div class="presence-details">	
	<div class="row-fluid">
		<div>
			<h5 class="section">Twitter</h5>
			@if(presence.twitterUser != null){
				@views.html.twitter.embeddedSmall.render(presence.twitterUser)
			}	
		</div>			
	</div>
	<div class="row-fluid">
		<div id="presence-details-data-@presence.getId()" class="ajax-form-holder">			
			@let(Form.form(classOf[Presence]).fill(presence)){ form =>
				<div class="form-horizontal presence-details-column1">
					<h5 class="section">Name and Interests</h5>
					@helper.inputText(form("name"), '_showConstraints -> false) 
					@helper.select(form("category"), options = Seq("publication"->"Publication", "developer" -> "Developer", "user"->"User", "notAssigned"->"not assigned"),'_showConstraints -> false) 
					@helper.select(form("tier"), options = Seq("one"->"1", "two" -> "2", "three"->"3", "notAssigned"->"not assigned"),'_showConstraints -> false)
								
					<div class="control-group">
	 					<div class="controls without-label">	
							@for(field <- Array("iOS", "android", "pc", "consoles", "more")){
								@checkbox(form(field), 'emptyHelper -> true)									
							}
						</div>
					</div>								 
				 
				</div>
				<div class="presence-details-column2">					
					@for((label, fieldName, value) <- Array(("channel URLs", "channelURLs", presence.channelURLs),("contact URLs", "contactURLs", presence.contactURLs))) {
						<div class="control-group">
							<h5 class="section">@label</h5>				
							<div id="@fieldName-holder-@presence.getId()">		
								@helper.repeat(form(fieldName), min = 1) { urlField =>
									<div id="@urlField.id-holder-@presence.getId()" class="url-field">
					    				@helper.inputText(urlField, '_showConstraints -> false, 'emptyHelper -> true)
					    				<a class="remove-empty-last-action" last-class="url-field" last-container-id="@fieldName-holder-@presence.getId()" empty-id="@urlField.id" remove-id="@urlField.id-holder-@presence.getId()"><p class="control-button icon-minus-sign"></p></a>						    										    			
						    			<a @notLastRepeat(urlField, value){style="visibility:hidden;"} class="add-url-button add-url-field-action" container-id="@fieldName-holder-@presence.getId()" copy-id="@urlField.id-holder-@presence.getId()" to-hide-class="add-url-button"><p class="control-button icon-plus-sign"></p></a>							    					    		
					    				<a target="new" class="btn btn-mini open-url-action" url-input-id="@urlField.id"><p class="icon-share"></p> open</a>
					    				<br/>
				    				</div>
								}	
							</div>
						</div>
					}							
				</div>
			}
		</div>
	</div>
	<div>	
		@if(presence.actions.size()>0){
			<h5 class="section">Actions</h5>
			@views.html.action.listEmbedded.render(presence.actions, false)
		}else{
			<h5 class="section">No actions</h5>
		}
	</div>	
</div>