@(presence: models.Presence, createURL: String)
@import utils.Let._
@import play.data.Form
<div class="presence-holder">
	@if(presence == null){			
		<a class="btn btn-mini reload-ajax-action" holder-class="presence-holder" url="@createURL"><span class="icon-file"></span> create</a>
		<a class="btn btn-mini"><span class="icon-search"></span> assign</a>
		<p class="help"><span class="icon-info-sign"></span> No presence assigned for this twitter user. Calling any action will create a new one.<p/>
	}else{
		<div>				
			<div class="ajax-form-holder presence-embedded-form">
				@let(Form.form(classOf[Presence]).fill(presence)){ form =>
					<input type="hidden" name="id" value="@presence.id">
					@helper.inputText(form("name"), '_showConstraints -> false, 'class -> "ajax-form", 'url -> routes.PresencePart.ajaxUpdate(presence.id).absoluteURL(request())) 
					@helper.select(form("category"), options = Seq("publication"->"Publication", "developer" -> "Developer", "user"->"User", "notAssigned"->"not assigned"),'_showConstraints -> false, 'class -> "ajax-form", 'url -> routes.PresencePart.ajaxUpdate(presence.id).absoluteURL(request())) 
					@helper.select(form("tier"), options = Seq("one"->"1", "two" -> "2", "three"->"3", "notAssigned"->"not assigned"),'_showConstraints -> false, 'class -> "ajax-form", 'url -> routes.PresencePart.ajaxUpdate(presence.id).absoluteURL(request()))
				} 
			</div>
			<a href="#presence-modal@presence.id" role="button" class="load-modal-data-ajax-action" url="@routes.PresencePart.ajaxDetails(presence.id)" data-toggle="modal"><span class="icon-align-justify"></span> details</a> 
			<!-- Modal -->
			<div id="presence-modal@presence.id" class="modal hide fade presence-modal" tabindex="-1" role="dialog" aria-labelledby="presence-modal-label" aria-hidden="true">
				<div class="modal-header">
			    	<button type="button" class="close reload-ajax-action" holder-class="presence-holder" url="@routes.PresencePart.ajaxEmbedded(presence.id)" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<h3 id="presence-modal-label">Presence data of <b>@presence.name</b></h3>
			  	</div>
			  	<div class="modal-body">
			  	</div>
			</div>
		</div>
		<div>	
		@if(presence.actions.size()>0){
			Actions: <a href="#general-data-actions-modal@presence.id" role="button" class="load-modal-data-ajax-action" url="@routes.PresencePart.ajaxActions(presence.id)" data-toggle="modal">@presence.actions.size()</a>:<br/>
			<!-- Modal -->
			<div id="general-data-actions-modal@presence.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="general-data-actions-modal-label" aria-hidden="true">
				<div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<h3 id="general-data-actions-modal">Actions with <b>@presence.name</b></h3>
			  	</div>
			  	<div class="modal-body">
			  	</div>
			</div>
			@for(action <- presence.actions.reverse.splitAt(5)._1){
				@if(action.actionType==models.Action.ActionType.beFriend){<span class="label"><span class="icon-thumps-up"></span></span>}
				@if(action.actionType==models.Action.ActionType.unFriend){<span class="label"><span class="icon-thumbs-down"></span></span>}
				@if(action.actionType==models.Action.ActionType.message){<span class="label"><span class="icon-envelope"></span></span>}
				@if(action.actionType==models.Action.ActionType.retweet){<span class="label"><span class="icon-retweet"></span></span>}
			}
			@if(presence.actions.size()>5) {
				<span>...</span>	
			}
		}else{
			<span>no Actions</span>
		}
		</div>		
	}	
</div>		

