@(presence: models.Presence)
<tr class="presence-holder">
	<td>
		<b>@presence.name</b><!-- 
		@if(presence.category!=models.Presence.Category.notAssigned){--><span>, category: <i>@presence.category</i></span><!--}else{--><!--}
		@if(presence.tier!=models.Presence.Tier.notAssigned){--><span>, tier: <i>@presence.tier</i></span>}else{-->}
		@if(presence.iOS){<span class="label">iOS</span>}
		@if(presence.android){<span class="label">android</span>}
		@if(presence.pc){<span class="label">pc</span>}
		@if(presence.consoles){<span class="label">consoles</span>}
		@if(presence.more){<span class="label">more</span>}
		@if(presence.channelURLs.size()>0){@presence.channelURLs.size() channel (<!-- 
			@if(presence.twitterUser!=null){ --><span class="label"><span class="social-icon-twitter"></span></span><!--}
			-->)
		}
		@if(presence.contactURLs.size()>0){@presence.contactURLs.size() contacts}
	</td>
	<td>
		<a href="#presence-modal@presence.getId()" role="button" class="btn btn-mini load-modal-data-ajax-action" url="@routes.PresencePart.ajaxDetails(presence.getId())" data-toggle="modal"><span class="icon-list"></span> details</a> 
			<!-- Modal -->
			<div id="presence-modal@presence.getId()" class="modal hide fade presence-modal" tabindex="-1" role="dialog" aria-labelledby="presence-modal-label" aria-hidden="true">
				<div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<h3 id="presence-modal-label">Presence data of <b>@presence.name</b></h3>
			  	</div>
			  	<div class="modal-body">
			  	</div>
			  	<div class="modal-footer">
    				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    				<a href="#" class="btn btn-primary reload-ajax-action" data-dismiss="modal" aria-hidden="true" url="@routes.PresencePart.ajaxUpdateDetails(presence.getId(), "row")" holder-class="presence-holder" ajax-data="presence-details-data-@presence.getId()">Save changes</a>
  				</div>
			</div>
	</td>
</tr>	
